@charset "UTF-8";

// Import non-styling Bootstrap SCSS files (variables, functions, etc) so properties are properly defined at the root scope
@import "~bootstrap/scss/functions", '~bootstrap/scss/variables', '~bootstrap/scss/maps', '~bootstrap/scss/mixins', '~bootstrap/scss/root', "~bootstrap/scss/utilities";

:root {
    --bs-border-radius: 0.5rem;
}

:where([class*='formio'], .gu-mirror) {
    // Import styling Bootstrap SCSS files so they apply their styles to the formio components.
    // Overriding Sonarcloud linting because it thinks @import statements can't go inside selectors, but in SCSS they can
    @import "~bootstrap/scss/reboot", "~bootstrap/scss/type", "~bootstrap/scss/containers", "~bootstrap/scss/grid", "~bootstrap/scss/tables", "~bootstrap/scss/forms", "~bootstrap/scss/buttons", "~bootstrap/scss/transitions", "~bootstrap/scss/dropdown", "~bootstrap/scss/button-group", "~bootstrap/scss/nav", "~bootstrap/scss/navbar", "~bootstrap/scss/card", "~bootstrap/scss/accordion", "~bootstrap/scss/breadcrumb", "~bootstrap/scss/pagination", "~bootstrap/scss/badge", "~bootstrap/scss/alert", "~bootstrap/scss/progress", "~bootstrap/scss/list-group", "~bootstrap/scss/close", "~bootstrap/scss/toasts", "~bootstrap/scss/modal", "~bootstrap/scss/tooltip", "~bootstrap/scss/popover", "~bootstrap/scss/carousel", "~bootstrap/scss/spinners", "~bootstrap/scss/offcanvas", "~bootstrap/scss/placeholders", "~bootstrap/scss/helpers", "~bootstrap/scss/utilities/api"; // NOSONAR
    @import '~met-formio/dist/met-formio-components'; // NOSONAR
    @import '@bcgov/formio/dist/bcgov-formio-components'; //NOSONAR
}

// Apply Formo and CHEFs styles after Bootstrap styles so they can override them as needed
@import '~formiojs/dist/formio.full.min'; //NOSONAR
@import 'CHEFS-style.scss'; //NOSONAR

// Styling for multi-page form page selectors + drag & drop functionality 
ol.breadcrumb.wizard-pages li,
li.gu-mirror {
    & .badge {
        padding: 0.5rem;
        margin: 0 !important;
        font-size: 14px;
        font-weight: 500;
        vertical-align: middle;
        line-height: 1.5rem;
        border-radius: 0;

        &.badge-info {
            cursor: grab;
            background-color: white;
            color: #292929;
            border: 1px solid #7A7876;

            &:focus-visible {
                outline: 2px solid #2E5DD7;
                outline-offset: 2px;
                z-index: 1;
                position: relative;
            }

            &:hover {
                background-color: color-mix(in srgb, #C8C6C4, white 50%);
                box-shadow: inset 0px 0px 3px 0px color-mix(in srgb, black, white 50%);
                color: color-mix(in srgb, #292929, black 50%);
                border: 1px solid color-mix(in srgb, #7A7876, white 50%);
            }
        }

        &.badge-primary,
        &.badge-info:active {
            cursor: grab;

            &.gu-mirror {
                cursor: grabbing;
            }

            background-color: #C8C6C4;
            box-shadow: inset 0px 0px 3px 0px black;
            color: black;
            border: 1px solid #7A7876;
        }

        &.badge-success {
            background-color: #12508F;
            color: white;
            padding: 0.5rem 0.75rem;
            border: 1px solid #12508F;

            &:focus-visible {
                outline: 2px solid #2E5DD7;
                z-index: 1;
                position: relative;
            }
        }
    }

    &:first-of-type .badge {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    &:last-of-type .badge {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

li.gu-mirror .badge {
    cursor: grabbing!important;
}

.choices {
    overflow: visible; // allow acessibility borders to show outside of the component bounds
    .choices__inner,
    .choices__list.choices__list--dropdown {
        &:has(:focus) {
            border: 1px solid #7A7876;
            outline: 4px solid #2E5DD7;
        }
        border-radius: var(--bs-border-radius);
    }
    &[data-type*="select-one"] .choices__button:focus {
        box-shadow: none;
        outline: 4px solid #2E5DD7;
        outline-offset: 2px;
    }
    .choices__list.choices__list--multiple{
        .choices__item {
            border-radius: var(--bs-border-radius);
        }
    }
}

.form-control {
    transition: box-shadow 0s;
    border: none !important;
    box-shadow: 0 0 0 1px #7A7876 inset;
    &:hover {
        box-shadow: 0 0 0 2px #3B3A39 inset;
    }
    &:has(:focus), &:focus {
        box-shadow: 0 0 0 4px #2E5DD7 !important;
    }
}


.singlepageform,
.multipageform {
    display: flex;
    flex-direction: column;
}

.text-muted {
    color: #868e96;
}
i.fa.fa-question-circle.text-muted {
    width: 14px;
    height: 14px;
    border-radius: 999px;
    text-align: center;
    vertical-align: middle;
}

.form-check-input{
    box-sizing: border-box;
    &:checked {
        background-color: #12508F;
        border-color: #12508F;
    }
    &:focus {
        border-color: #8EC6FF;
        box-shadow: 0 0 0 0.25rem color-mix(in srgb, #12508F, transparent 75%);
    }
}

.formbuilder {
    row-gap: 1em;
    .formio-component-content {
        border: none;
    }
}

// By default, join panels together
.form-builder-panel {
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    border-top-style: none;
    overflow: clip;
    .builder-group-button {
        border-radius: 0 !important;
    }
    &:has(.builder-group-button:focus-visible) {
        background-color: #D8EBFF;
        .card-body{
            background: white;
        }
        .card-header {
            box-shadow: inset 0px 0px 0px 2px #2E5DD7;
            border-radius: 0;
        }
    }
    .card-header:not(:has(+ [style*='display: inherit'])) {
        border-bottom: none;
    }
    // Round the top of the first panel and the bottom of the last panel
    &:first-child {
        border-top-style: solid;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    &:last-child {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    // If a panel is followed by another panel that is visible, round the bottom of the first panel
    &:has(+ .form-builder-panel [style*='display: inherit']) {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    &:has([style*='display: inherit']){
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.10), 0px 6px 9px 0px rgba(0, 0, 0, 0.07), 0px 3px 15px 0px rgba(0, 0, 0, 0.06);
        border-top-style: solid;
        border-radius: 0.5rem;
        &:not(:first-child) {
            margin-top: 0.5rem;
        }
        margin-bottom: 0.5rem;
        // If the panel has a previous panel that is visible (it is the first child to not have a following visible panel), round the top of the panel
        & +.form-builder-panel {
            border-top-style: solid;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
    }
}

.formcomponents {
    padding: 0;
}

.formcomponent.btn {
    --bs-btn-focus-box-shadow: 0 0 0 2px #2e5dd7;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    min-width: fit-content;
}

.btn.builder-group-button{
    text-align: left;
    width: 100%;
    border: none;

}

.formcomponent.btn i {
    color: #053662;
}

.formcomponent.btn-primary {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    background-color: #D8EBFF;
    border-color: #D8EBFF;
    color: #292929;
    font-size: 0.8rem;
    padding: 5px 5px 5px 8px;
    transition: all 0.1s ease-in-out;
    &:not(:disabled):not(.disabled){
        cursor: grab;
    }
    &.gu-mirror:not(:disabled):not(.disabled) {
        cursor:grabbing;
    }
    &:hover {
        transform: translateX(4px)scale(1.04);
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.10), 0px 6px 9px 0px rgba(0, 0, 0, 0.07), 0px 3px 15px 0px rgba(0, 0, 0, 0.06);
    }
}

.btn:not(.btn-xxs) i {
    margin-inline-end: 0.5rem;
}

.btn-right {
    float: right;
    margin-left: auto;
}
.btn-center {
    float: right;
    margin-left: auto;
}
.btn.btn-link:focus,
.btn.btn-link.focus {
    box-shadow: none;
}

select option:hover {
    box-shadow: 0 0 10px 100px #000 inset;
}
.modal-dialog {
    margin: 8.75rem auto !important;
}
#sidebar {
    background: #fff;
}
.content {
    background-color: #f8f8f8;
}
#sidebar ul li.active > a,
#sidebar a[aria-expanded='true'] {
    background: #fff;
}
header nav {
    border-bottom: #fff;
}
.rounded-circle {
    border-radius: 50% !important;
    border: 2px solid lightgrey;
    height: 40px;
    width: 40px;
}
div[disabled] {
    pointer-events: none;
    opacity: 0.7;
}
.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
    display: none;
}

.col-form-label {
    font-weight: bold;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-content {
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
}

.title {
    padding-bottom: 30px;
}

.tippy-box {
    position: relative;
    background-color: #053662;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    white-space: normal;
    outline: 0;
    transition-property: transform, visibility, opacity;
    font-weight: 500;
}

.tippy-content {
    position: relative;
    padding: 5px 9px;
    z-index: 1;
}

.tippy-arrow {
    width: 16px;
    height: 16px;
    color: #053662;
}

.tippy-arrow::before {
    content: '';
    position: absolute;
    border-color: transparent;
    border-right-color: transparent;
    border-style: solid;
}

.tippy-box[data-placement^='right'] > .tippy-arrow {
    left: 0;
}

.tippy-box[data-placement^='right'] > .tippy-arrow::before {
    left: -7px;
    border-width: 8px 8px 8px 0;
    border-right-color: initial;
    transform-origin: center right;
}

// Hide formio managed success messages so they can be handled in DEP
.alert-success {
    display: none;
}

.BC-Gov-PrimaryButton {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    margin: 0;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-transform: none;
    font-family: BCSans, 'Noto Sans', Verdana, Arial, sans-serif;
    line-height: 1.75;
    min-width: 64px;
    border: 0;
    opacity: 1;
    text-decoration-line: none;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --background-color: #12508F;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 0.5rem;
    background-color: var(--background-color) !important;
    --color: #FFFFFF;
    color: var(--color);
    height: 40px;
    padding: 0 1.5rem;
    font-weight: 500;
    font-size: 16px;
}

.BC-Gov-PrimaryButton:hover, .BC-Gov-PrimaryButton:focus, .BC-Gov-PrimaryButton.focus {
    background-color: color-mix(in srgb, var(--background-color), black 20%);
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.20), 0px 9px 12px 0px rgba(0, 0, 0, 0.14), 0px 3px 16px 0px rgba(0, 0, 0, 0.12);
}

.BC-Gov-PrimaryButton:active {
    background-color: color-mix(in srgb, var(--background-color), black 20%);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.60) inset, 0px 1px 6px 0px rgba(0, 0, 0, 0.60) inset;
}

.BC-Gov-PrimaryButton:focus-visible {
    background-color: color-mix(in srgb, var(--background-color), black 20%);
        outline: 2px solid #2E5DD7;
        box-shadow: inset 0px 0px 0px 2px #FFFFFF, 0px 5px 6px 0px rgba(0, 0, 0, 0.20), 0px 9px 12px 0px rgba(0, 0, 0, 0.14), 0px 3px 16px 0px rgba(0, 0, 0, 0.12);
}

.BC-Gov-PrimaryButton:active:focus-visible {
    box-shadow: inset 0px 0px 0px 2px #FFFFFF, 0px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.60) inset, 0px 1px 6px 0px rgba(0, 0, 0, 0.60) inset;
}

.BC-Gov-SecondaryButton {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
    font-weight: 500;
    font-size: 16px;
    height: 40px;
    background: white;
    color: #292929;
    box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.01), 0px 7px 9px 0px rgba(0, 0, 0, 0.05), 0px 3px 6px 0px rgba(0, 0, 0, 0.09), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid #7A7876;
}

.BC-Gov-SecondaryButton:hover,
.BC-Gov-SecondaryButton:focus {
    background-color: color-mix(in srgb, white, black 3%);
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.20), 0px 9px 12px 0px rgba(0, 0, 0, 0.14), 0px 3px 16px 0px rgba(0, 0, 0, 0.12);
    color: #292929;
    border: 1px solid #323130;
}

.BC-Gov-SecondaryButton:active {
    background-color: color-mix(in srgb, white, black 3%);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.60) inset, 0px 1px 6px 0px rgba(0, 0, 0, 0.60) inset;
    color: #292929;
    border: 1px solid #323130
}

.BC-Gov-SecondaryButton:focus-visible {
    border: 1px solid #323130;
    background-color: color-mix(in srgb, white, black 3%);
    outline: 2px solid #2E5DD7;
    outline-offset: 0px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.20), 0px 9px 12px 0px rgba(0, 0, 0, 0.14), 0px 3px 16px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 2px white, ;
    color: #292929;
}

.BC-Gov-SecondaryButton:active:focus-visible {
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.60) inset, 0px 1px 6px 0px rgba(0, 0, 0, 0.60) inset;
}

.BC-Gov-TertiaryButton {
    background-color: transparent;
    color: #201F1E;
    box-shadow: 0 8px 35px -12px rgba(181, 181, 181, 0.30);
    height: 40px;
    font-size: 16px;
    border-radius: 2em;
    padding: 0px 16px;
    line-height: 1rem;
    border: none;
}

.BC-Gov-TertiaryButton:hover, .BC-Gov-TertiaryButton:focus, .BC-Gov-TertiaryButton:active {
    background-color: color-mix(in srgb, transparent, #F1F8FF 50%);
    color: #201F1E;
    box-shadow: 0 8px 35px -12px rgba(181, 181, 181, 0.30);
}

.BC-Gov-TertiaryButton:focus-visible{
    background-color: #FFFFFF;
    box-shadow: 0 0 0 2px white, 0 0 0 4px #2E5DD7;
}

.BC-Gov-DangerButton {
    @extend .BC-Gov-PrimaryButton;
    --background-color: #CE3E39;
    --color: #FFFFFF;
}

.BC-Gov-WarningButton {
    @extend .BC-Gov-PrimaryButton;
    --background-color: #FCBA19;
    --color: #292929;
}

.BC-Gov-SuccessButton {
    @extend .BC-Gov-PrimaryButton;
    --background-color: #42814A;
    --color: #FFFFFF;
}

.btn.btn-xxs, .btn.btn-xss.btn-secondary, .btn.btn-xxs.btn-primary {
    height: 18px;
    padding: 2px;
    min-width: unset;
    font-size: 0.625rem;
    border-radius: 0.25rem;
}

.component-btn-group .component-settings-button {
    margin-top: 2px;
    margin-right: 2px;
}

.builder-component:not(:hover):not(.btn-wizard-nav-submit:hover):not(.btn-wizard-nav-previous:hover):not(.btn-wizard-nav-cancel:hover):not(.btn-wizard-nav-next:hover) .component-btn-group {
    display: flex;
    opacity: 0;
}

.builder-component .component-btn-group:has(>:focus-visible), .builder-component .component-btn-group:has(>:focus) {
    opacity: 1 !important;
}

.btn.btn-md, .btn.btn-primary.btn-md, .btn.btn-secondary.btn-md {
    height: 48px;
}

.btn.btn-lg {
    height: 56px;
}

.btn.btn-primary:not(.formcomponent) {
    @extend .BC-Gov-PrimaryButton;
}

.btn.btn-info {
    @extend .BC-Gov-TertiaryButton;
}

.btn.btn-danger{
    @extend .BC-Gov-DangerButton;
}

.btn.btn-warning{
    @extend .BC-Gov-WarningButton;
}

.btn.btn-success{
    @extend .BC-Gov-SuccessButton;
}

.btn-wizard-nav-next {
    @extend .BC-Gov-PrimaryButton;
}

.btn-wizard-nav-next:hover {
    @extend .BC-Gov-PrimaryButton;
    @extend .BC-Gov-PrimaryButton, :hover
}

.btn-wizard-nav-cancel, .btn.btn-secondary, .btn.btn-default {
    @extend .BC-Gov-SecondaryButton;
}

.btn-wizard-nav-cancel:hover {
    @extend .BC-Gov-SecondaryButton;
    @extend .BC-Gov-SecondaryButton, :hover;
}

.btn-wizard-nav-previous {
    @extend .BC-Gov-SecondaryButton;
}

.btn-wizard-nav-previous:hover {
    @extend .BC-Gov-SecondaryButton;
    @extend .BC-Gov-SecondaryButton, :hover;
}

.btn-wizard-nav-submit, .btn.btn-primary.btn-md {
    @extend .BC-Gov-PrimaryButton;
}

.btn-wizard-nav-submit:hover {
    @extend .BC-Gov-PrimaryButton;
    @extend .BC-Gov-PrimaryButton, :hover;
}

.btn:not(.btn-xxs).formio-button-remove-row,
.btn:not(.btn-xxs).btn-sm.editRow,
.btn:not(.btn-xxs).btn-sm.removeRow {
    padding: 0;
    width: 40px;
    min-width: 40px;
    i {
        margin-inline-end: 0;
    }
}

.btn.signature-pad-refresh i{
        margin-inline-end: 0;
}

.pagination {
    display: none;
}

ol.breadcrumb.wizard-pages {
    padding: 0;
    background: transparent;
    border-radius: 0.5rem;
}

.choices__list.choices__list--dropdown {
    overflow-y: auto !important;
    max-height: 200px !important;
}

.choices__list.choices__list--single {
    .choices__item.choices__placeholder.choices__item--selectable {
        display: inline;
    }
}

.formio-component-simpledatetime, .formio-component-simpledatetimeadvanced {
    align-items: stretch;
    * {
        display: flex;
        min-height: 0;
    }
    .input {
        border-top-left-radius: var(--bs-border-radius) !important;
        border-bottom-left-radius: var(--bs-border-radius) !important;
    }
    .input-group-append {
        .input-group-text {
            border-top-right-radius: var(--bs-border-radius);
            border-bottom-right-radius: var(--bs-border-radius);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.choices__list--dropdown .choices__list {
    overflow: visible;
}

.formio-component-simplesurvey {
    overflow-y: scroll;
}

// Add a small amount of padding to each form component of
// forms in display mode so that adjacent components don't touch
.form-wrapper .formio-component, .component-preview .formio-component {
    padding-top: 4px;
    padding-bottom: 4px;
}

.flatpickr-calendar {
    .flatpickr-months {
        svg {
            display: inline;
            vertical-align: top;
        }
        .flatpickr-prev-month:hover,
        .flatpickr-next-month:hover {
            svg {
                fill: #12508F;
            }
            background: #D8EBFF;
        }
    }
    .flatpickr-days {
        .flatpickr-day.selected {
            background: #12508F;
            border-color: #12508F;
        }
    }
}
